@media only screen and (min-width: 37.5em) {


    header,
    .franklin,
    main,
    footer {
        max-width: 95%;
    }



    /*nav*/
    .hamburger {
        display: none;
    }

    nav li {
        display: contents;
        color: white;
    }

    nav li.items {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        background-color: dimgray;
        list-style-type: none;
        padding: 20px;
        color: white;
    }

    nav ul li a {
        color: white;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav ul li.active a {
        background-color: #4CAF50;
        color: white;
    }

    nav ul li a:hover {
        background-color: navy;
        color: white;
    }

    li:last-child {
        border-right: none;
    }


    /*banner*/
    .franklin {
        max-width: 100%;
        margin: 0;
    }

    .franklin img {
        width: 100%;
        max-width: 100%;
        margin: 0;

    }


    /*forecast*/
    section.forecast {
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: dimgray;
        border-bottom: 1px solid #ddd;
        margin: auto;
        padding: 50px;

    }

    .forecast h3 {
        font-size: 3rem;
        color: navy;
    }

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid black;
        margin: 5px;
        padding: 10px;
    }

    th {
        background-color: #f2f2f2;
        margin: 5px;
        padding: 10px;
    }
    td {
        background-color: navy;
        color: white;
    }



    /*main section*/
    .temp p,
    .iconpic p,
    .iconpic img,
    .conditions p {
        padding-top: 60px;
        padding: 20px;
    }
    .summarycontainer {
        display: grid;
        grid-template-columns: 0.25fr 0.10fr 0.10fr 0.25fr;
    }


    .summaryitem {
        padding-right: 10px;
    }

    .summaryitem,
    .summaryitem p {
        text-align: left;
        font-size: 1rem;

    }

    .summaryitem p {
        border: 2px solid dimgrey;
    }

    .summaryitem h3 {
        text-align: left;
        font-size: 2rem;
    }

    .iconpic {
        display: flex;
        flex-direction: row;
    }

    .iconpic p,
    .sunicon picture {
        flex-direction: row;
    }

    .capitalpic {
        padding-top: 50px;
        padding-left: 30px;
    }

    main {
        border-left: 6px solid black;
        border-right: 6px solid black;
    }



    main section {
        font-size: 1em;
        margin: 0px;
        color: black;

    }



    /*article*/
    .franklinarticle {
        background-color: darkgoldenrod;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .articleitem {
        flex-direction: column;
    }

    .community img {
        width: 100%;
    }

    .franklinarticle p {
        font-family: "Cabin";
        color: black;
        padding: 2px;
        font-size: 16px;
        overflow: scroll;
    }

    .franklinarticle h3 {
        color: black;
        font-size: 2rem;
    }

    .align {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .abox {
        height: 350px;
        overflow: scroll;
    }

    .greenvillearticle {
        background-color: forestgreen;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .greenvillearticle p {
        font-family: "Cabin";
        color: black;
        padding: 2px;
        font-size: 16px;
        overflow: scroll;
    }

    .greenvillearticle h3 {
        color: black;
        font-size: 2rem;
    }
    
        .springvillearticle {
        background-color: rosybrown;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .springvillearticle p {
        font-family: "Cabin";
        color: black;
        padding: 2px;
        font-size: 16px;
        overflow: scroll;
    }

    .springvillearticle h3 {
        color: black;
        font-size: 2rem;
    }





    /*footer*/
    footer {
        padding: 20px;
        margin: auto;
        color: black;
    }

    footer h4 {
        font-family: 'Cabin', sans-serif;
        text-align: center;
    }

    /*button specific*/
    .hamburger {
        display: none;
    }


    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        margin: 20px;
    }

    .grid p {
        font-size: 16px;
        font-family: "Cabin", sans-serif;
        text-decoration: none;
    }

    /*home page*/
    .weatherstory1 p {
        padding-right: 30px;
    }

    #mediumview {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .weatherstory1 {
        display: flex;
        flex-direction: row;
    }

    img {
        width: auto;
    }
    section {
        display: flex;
        justify-content: space-around;
    }

    article {
        padding: 20px;
        border: none;
    }

    .cityimages {
        display: flex;
        justify-content: space-around;
        align-content: center;

    }
    .rows img {
        width: 100%;
        margin-right: 100px;
    }

}
