@media only screen and (min-width: 37.5em) {

    /*header*/
    header, main, footer {
        max-width: 100%;
    }
    
     main {
        padding: 20px;
    }

    header img {
        width: 100%;
        margin-top: 2%;
        padding: 5%;
    }

    header {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-between;
    }

    .logobutton {
        margin-left: 0;
    }



    /*nav*/
    .hamburger {
        display: none;
    }

    nav li {
        display: contents;
        color: white;
    }

    nav li.items {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        background-color: black;
        justify-content: flex-end;
        list-style-type: none;
        padding: 20px;
        color: white;
    }

    nav ul li a {
        color: white;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.25rem;
    }

    nav ul li.active a {
        background-color: #4CAF50;
        color: white;
    }

    nav ul li a:hover {
        background-color: orangered;
        color: white;
    }

    li:last-child {
        border-right: none;
    }


    /*home*/
    .action img {
        width: 400px;
    }

  .upcomingevents {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
}

}
