 * {
    box-sizing: border-box;
}


header .container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    
    
}

main .container {
    display: flex;
    flex-direction: column;
}


nav .container {
    display: flex;
    align-content: flex-end; 
    background-color: #d4c36a;
}

nav .items {
    align-items: flex-end; 
    
}



body {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    background-color: #2f4172;
    margin: auto;
}

header,
nav,
main,
footer {
    margin: auto;
    padding: 0;

}


header h1 {
    font-family: 'Faster One', cursive;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
}

header .subheading {
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    margin: 0;
    color: #ffffff;
}




nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d4c36a;
}


nav ul li a {
    display: none;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #4CAF50;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

li:last-child {
    border-right: none;
}

.franklinheader {
    color: black;
    margin-left: 0;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    background-color: #d4c36a;
    padding: 10px;

}




/*banner section*/

main{
    border-left: 6px solid black;
}

.franklin {
    max-width: 100%;
    width: 100%;
    margin: 0 2% 0 0;
}

.franklin img {
    width:100%;
    margin: 0;
}



/*main section*/
main figure img {
    width: 100%;

}

main section {
    border-left: 6px solid black;
    background-color: azure;
    padding: 5px;
    border-bottom: 1px solid #ddd;

}

.sunicon {
}


/*forecast*/

section.forecast {
    display: none;

}


/*article*/

main article {
    border-left: 6px solid black;
    background-color: azure;
    padding: 5px;
}

main article h3 {
    text-align: center;
}

.community {
    padding: 10px;
}

main article p {
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
}


/*footer*/

footer {
    padding: 5px;
    margin: 0;
}

footer h4 {
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-align: center;
    font-size: 1em;
    margin: auto;
}

 img:hover {
    box-shadow: 5px 5px 10px azure; 
}

.caption {
    color: azure;
    font-family: 'cabin', sans-serif;
    font-size: 0.5em;
    text-align: justify;
}



/*hamburger button specific*/ 

    @media only screen and (max-width: 37.5em) {	.navigation.responsive { position: relative; }
	.navigation.responsive li { background-color: #d4c36a;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; }
	.navigation.responsive li a {	padding: 1rem; text-align: center;	display: block; text-decoration:none; }
	.navigation.responsive li a:hover { background-color: navy; }

}

  .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


