* {
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: #2f4172;
    margin: auto;
}

header,
nav,
main,
footer {
    max-width: 64rem;
    margin: auto;

}

header {}

header img {
    float: left;
    width: 100%;
    margin:0 2% 0 0;
}

header h1 {
    margin-left: 25%;
    color: #ffffff;
}

header .subheading {
    margin-left: 25%;
    color: #ffffff;
}

nav {
    clear: left;
}

nav button {}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d4c36a;
}



nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #4CAF50;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

li:last-child {
    border-right: none;
}

main {
    position: relative;
    padding:0;
}

main h2 {
    color: white;
}

main figure {
    margin: 0;
    width: 100%;

}

main figure img {
    width: 100%;
}

main section {
    border-left: 6px solid black;
    background-color: azure;
    padding: 5px;

}

main div picture img {
    width: 400px;
    float: right;
}

main article {
    position: relative;
    border-left: 6px solid black;
    background-color: azure;
    padding: 5px;
}

main article img {
    width: 250px;
    float: right;
    margin: 7px;
    box-shadow: 3px 3px 3px #bbb;
    overflow: auto;

}

section.forecast {
    display: none;

}



footer {
    border-left: 6px solid black;
    background-color: azure;
}
