@media only screen and (min-width: 64em ) {
    
  header,
nav,
main,
footer {
    max-width: 96%;
    padding: 10px;
    margin: auto;
    
  }
    main div picture img {
    position: relative;
    width: 600px;
    overflow: auto;
}
    