@media only screen and (min-width: 37.5em) {

    header, nav, main, footer {
        margin: auto;
        max-width: 96%;
    }

    nav button {
        display: none;
    }
    
    nav ul li {
    float: left;
}

    nav ul li {
        display: inline-block;
    }

    section.forecast {
        display: block;
        border-left: 6px solid black;
        background-color: azure;
        border-bottom: 1px solid #ddd;
        margin: auto;

    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
main div picture img {
    position: relative;
    width: 600px;
    float: right;
    overflow: auto;
}