@media only screen and (min-width: 64em) {

    /*header*/
    /*main*/
    /*homepage*/
    .action img {
        width: 1000px;
    }

    /*salespage*/
    main,
    .bikes {
        margin: 10px;
    }
    .bikes div img {
        width: 400px;
    }
    section.bikes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }
    .tires img {
        width: 100%;
    }

    /*events*/
    .dividevents img {
        width: 800px;
        margin: 1rem;
    }
  section form {
     margin-left: 20rem;
         margin-right: 20rem;
 }
    
    /*services*/
     .tester h2, .tester h3 {
    display: contents;
         display: flex;
         flex-direction: column;
         justify-content: center;
}

    
   
    /*tours*/
    div.adventure {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
       /*contactus*/
    .contact img {
    width: 900px;
}
    
    
    

    /*footer*/
}
