@media only screen and (min-width: 37.5em) {

    /*header*/
    header,
    main,
    footer {
        max-width: 100%;
    }

    main {
        padding: 20px;
    }

    header img {
        width: 100%;
        margin-top: 2%;
        padding: 5%;
    }

    header {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-between;
    }

    .logobutton {
        margin-left: 0;
    }



    /*nav*/
    .hamburger {
        display: none;
    }

    nav li {
        display: contents;
        color: white;
        font-family: 'Source Sans Serif', sans-serif;
    }

    nav li.items {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        background-color: black;
        justify-content: flex-end;
        list-style-type: none;
        padding: 20px;
        color: white;
    }

    nav ul li a {
        color: white;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.25rem;
    }

    nav ul li.active a {
        background-color: #4CAF50;
        color: white;
    }

    nav ul li a:hover {
        background-color: orangered;
        color: white;
    }

    li:last-child {
        border-right: none;
    }


    /*home*/
    .action img {
        width: 400px;
    }

    .upcomingevents {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
    }

    /*salespage*/
    main,
    .bikes {
        margin: 10px;
    }

    section.bikes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .bikes div img {
        align-content: center;
        width: 300px;
    }

    section.tires {
        display: contents;
        width: 100%;
    }
    
    .tires img {
        width:100%
    }

    /*events*/
    .dividevents img {
        width: 500px;
        margin: 1rem;
    }
    section form {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    /*services*/
    .mobileservices {
        display: none;
    }

    main table {
        display: contents;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 3px dashed orangered;
        border-spacing: 5px;
    }
    th {
        text-align: left;
        font-family: 'Anton', sans-serif;
        font-size: 1.5rem;
        color: orangered;
        text-align: left;
        margin: 1rem;
    }

    th,
    td {
        padding: 15px;

    }

    table .price {
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
    }
    
     .tester h2, .tester h3 {
    display: contents;
         display: flex;
         flex-direction: column;
         justify-content: center;
}
    /*contact us*/
    
    .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    #submit {
        align-items: flex-start;
    }

    
    .contact img {
        justify-content: center;
        width: 100%;
    }
    



}
